# Dependencies
node_modules

# Build outputs
dist
build
coverage
.webpack

# Version control
.git

# IDE
.vscode
.idea

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Type declarations
*.d.ts