:3002 {
	root * dist
	encode gzip
	file_server {
		precompressed gzip br
	}

	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
		Access-Control-Max-Age 86400
	}

	@options method OPTIONS
	respond @options 204
}